*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    justify-content: center;
    max-width: 800px;
    height: 700px;
    background-color: rgb(128, 128, 127);
    margin: auto;
    margin-top: 3% ;
    border-radius: 10px;
}

.container{
    display: flex;
    justify-content:space-around;
    align-items: end;
    width: 600px;
    height: 500px;
    margin:auto;
    border-radius: 5px;
    background-color: white;
}

.questions{
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 380px;
    border-radius: 10px;
    /* background-color: rgb(106, 106, 106); */
    margin-bottom: 15%;
}

.questions h2{
    font-size: 28px;
    font-family:Arial, Helvetica, sans-serif ;
    margin-top: 7%;
}
.form-css{
    font-size: 20px;
    margin: auto;
    margin-top: 10%;
}

.scaled-radio {
    transform: scale(1.15); /* Adjust the scale value as needed for radio's */
}

.submit{
    width: 150px;
    height: 50px;
    margin-bottom: 1.3%;
    position: absolute;
    border-radius: 10px;
}

.q1 {
    display: none;
}

.q2 {
    display: none;
}

.q3 {
    display: inline;
}
